@using CrudBlazor.ServerSide.App.Infrastructures
@using CrudBlazor.ServerSide.App.Models
@using Microsoft.EntityFrameworkCore
@page "/fetchdata"
@inject SkyHRContext _db

<h1>Employee</h1>

<form>
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <input bind="employee.FirstName" class="form-control"
                   placeholder="FirstName" />
        </div>
    </div>
    <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <input bind="employee.LastName" class="form-control"
                   placeholder="LastName" />
        </div>
    </div>
    <input type="button" value="Add" class="btn btn-primary" onclick="@Add" />
    <input type="button" value="Update" class="btn btn-primary" onclick="@(()=>Update(employee.Id))" />
</form>

<br />

@if (emps == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Control</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in emps)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.FirstName</td>
                    <td>@emp.LastName</td>
                    <td>
                        <input type="button" value="Edit" class="btn btn-primary" onclick="@(() => Edit(emp.Id))" />
                        <input type="button" value="Del" class="btn btn-danger" onclick="@(()=> Del(emp.Id))" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    List<Employee> emps;
    Employee employee = new Employee();


    protected override async Task OnInitAsync()
    {
        emps = _db.Employees.AsNoTracking().ToList();
    }

    async Task Add()
    {
        employee.Id = 0;
        _db.Add(employee);
        await _db.SaveChangesAsync();
        emps.Add(new Employee() {
            Id = employee.Id,
            FirstName = employee.FirstName ,
            LastName = employee.LastName
        });
        employee = new Employee();
        await JSRuntime.Current.InvokeAsync<string>(
            "commonJsFunctions.alert",
            "新增完成");
    }

    void Edit(int id)
    {
        employee = _db.Employees.Where(m => m.Id == id).FirstOrDefault();
    }

    async Task Update(int id)
    {
        _db.Entry(employee).State = EntityState.Modified;
        await _db.SaveChangesAsync();
        var index = emps.FindIndex(m => m.Id == id);
        emps[index] = new Employee()
        {
            Id = employee.Id,
            FirstName = employee.FirstName,
            LastName = employee.LastName
        };
        employee = new Employee();

    }

    async Task Del(int id)
    {
        var obj = _db.Employees.Where(m => m.Id == id).FirstOrDefault();
        _db.Employees.Remove(obj);
        await _db.SaveChangesAsync();
        var index = emps.FindIndex(m => m.Id == id);
        emps.RemoveAt(index);
        employee = new Employee();
    }

}
